# Node modules
client/node_modules/
server/node_modules/
public/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# IDE specific files
.vscode/
.idea/

# Python specific files
venv/
__pycache__/
*.pyc
*.pyo

# MacOS specific files
.DS_Store

# System files
Thumbs.db

# Ignore json data files
server/scrapers/json/*.json

# Docker files
docker-compose.yml
Dockerfile
